*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
libs/
sampledata/bola.sfa
sampledata/boneco.fbm/
sampledata/cangrejo.sfa
sampledata/dance/dance.fbm/
sampledata/dance/dance.sfa
sampledata/globin/bola.sfa
sampledata/globin/greentroll.sfa
sampledata/guerreiro.fbm/
sampledata/guerreiro.sfa
sampledata/totoro.sfa
sampledata/totoro3.mtl
sampledata/totorobeta.sfa
src/main/assets/
src/main/res/raw/
